@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular, .bannar_section .bannar_content p, .header_top .hbox_wrapper a, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold, .bannar_section .bannar_content .h1, .httrademenu #desktopMenu li > a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

body {
  font-size: 16px;
  line-height: 26px;
  overflow: unset;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 700;
}

h1, .h1 {
  font-size: 34px;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1190px) {
  h1, .h1 {
    font-size: 64px;
  }
}

h2, .h2 {
  font-size: 30px;
  font-weight: 700;
}
@media only screen and (min-width: 1190px) {
  h2, .h2 {
    font-size: 35px;
  }
}

h3, .h3 {
  font-weight: 700;
  font-size: 25px;
}
@media only screen and (min-width: 1190px) {
  h3, .h3 {
    font-size: 30px;
  }
}

h4, .h4 {
  font-weight: 700;
  font-size: 20px;
}
@media only screen and (min-width: 1190px) {
  h4, .h4 {
    font-size: 22px;
  }
}

h5, .h5 {
  font-weight: 700;
  font-size: 18px;
}
@media only screen and (min-width: 1190px) {
  h5, .h5 {
    font-size: 20px;
  }
}

h6, .h6 {
  font-weight: 700;
  font-size: 16px;
}
@media only screen and (min-width: 1190px) {
  h6, .h6 {
    font-size: 18px;
  }
}

.img100 {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: 0.3s all;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

label {
  margin-bottom: 5px;
}

input[type=text], input[type=email], input[type=password], input[type=tel], input[type=url], input[type=search], [type=number], textarea, select {
  padding: 0px 10px;
  width: 100%;
  border-radius: 0px;
  height: 42px;
  border: 1px solid #020e28;
  margin-bottom: 8px;
  outline-offset: 0px;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=search]:focus, [type=number]:focus, textarea:focus, select:focus {
  outline: 1px solid #004377;
}

textarea {
  height: 70px;
  padding: 10px;
}

input[type=submit], input[type=button], button, .button, .btn-primary {
  position: relative;
  display: inline-block;
  min-width: 150px;
  background-color: #007dff;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 12px 18px;
  margin-bottom: 8px;
  font-size: 16px;
  border: none;
  border-radius: 0px;
  outline: 1px solid;
  outline-color: #007dff;
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
input[type=submit]:hover, input[type=submit]:active, input[type=button]:hover, input[type=button]:active, button:hover, button:active, .button:hover, .button:active, .btn-primary:hover, .btn-primary:active {
  text-decoration: none;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2), rgb(255, 255, 255) 0px 0px 0px 1px;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
}
@media only screen and (min-width: 1200px) {
  input[type=submit], input[type=button], button, .button, .btn-primary {
    font-size: 20px;
    min-width: 180px;
    padding: 15px 20px;
  }
}
@media only screen and (min-width: 1600px) {
  input[type=submit], input[type=button], button, .button, .btn-primary {
    font-size: 24px;
    min-width: 216px;
  }
}

input[type=submit] {
  min-width: 160px;
}
@media only screen and (min-width: 1200px) {
  input[type=submit] {
    min-width: 200px;
  }
}
@media only screen and (min-width: 1600px) {
  input[type=submit] {
    min-width: 282px;
  }
}

.btn-nobg {
  background-color: unset;
  font-size: 16px;
  font-weight: 400;
  border: none;
  outline: 1px solid;
  outline-color: #ffffff;
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-nobg:hover, .btn-nobg .active {
  border: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2), rgb(255, 255, 255) 0px 0px 0px 1px;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.btn-big {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 150px;
  margin: auto;
  position: relative;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  .btn-big {
    min-width: 200px;
    padding: 18px;
  }
}
@media only screen and (min-width: 1600px) {
  .btn-big {
    min-width: 380px;
    padding: 28px 30px;
    font-size: 28px;
  }
}

.expnd-btn {
  padding: 12px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 160px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-underline-position: under;
  outline: 1px solid;
  outline-color: #ffffff;
  outline-offset: 0px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.expnd-btn:hover, .expnd-btn .active {
  text-decoration: none;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2), rgb(255, 255, 255) 0px 0px 0px 1px;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}
@media only screen and (min-width: 1400px) {
  .expnd-btn {
    font-size: 18px;
    padding: 21px;
    min-width: 207px;
  }
}
.expnd-btn.big {
  min-width: 180px;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  .expnd-btn.big {
    font-size: 22px;
    min-width: 220px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .expnd-btn.big {
    font-size: 26px;
    min-width: 260px;
  }
}
@media only screen and (min-width: 1600px) {
  .expnd-btn.big {
    font-size: 30px;
    min-width: 313px;
    padding: 30px;
  }
}

p, ul, ol, table, address {
  margin-bottom: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1100px) {
  .container {
    width: 1190px;
  }
}

.section_dark_blue {
  background-color: #020e28;
}

.section_black {
  background-color: #000718;
}

.btn.gradin_btn {
  min-width: 180px;
  padding: 12px 18px;
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
  color: #ffffff;
  border: 0px;
  background: rgb(250, 189, 2);
  background: linear-gradient(90deg, rgb(250, 189, 2) 0%, rgb(104, 151, 149) 35%, rgb(0, 125, 255) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fabd02",endColorstr="#007dff",GradientType=1);
  border-radius: 25px;
}
.btn.btn_primariey {
  min-width: 150px;
  padding: 12px 18px;
  font-size: 16px;
  display: inline-block;
  color: #ffffff;
  border-radius: 25px;
  background-color: #007dff;
}

.bg_overlayer {
  background-color: rgba(2, 14, 40, 0.541);
}

header.sticky .httrademenu {
  width: 100%;
  position: fixed;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  top: 0;
  left: 0;
  z-index: 999999;
}

.header_top {
  padding: 10px 0px;
}
@media only screen and (min-width: 576px) {
  .header_top {
    padding: 20px 0px;
  }
}
.header_top .hbox_wrapper {
  margin: auto;
  width: 600px;
  max-width: 100%;
  flex-direction: column;
}
.header_top .hbox_wrapper a {
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
}
.header_top .hbox_wrapper a:hover {
  color: #017bfd;
}
@media only screen and (min-width: 576px) {
  .header_top .hbox_wrapper {
    flex-direction: row;
  }
}
.header_top .htph {
  justify-content: center;
  padding-bottom: 5px;
}
.header_top .htph img {
  width: 20px;
  max-width: 100%;
  display: inline-block;
  margin-right: 10px;
}
@media only screen and (min-width: 576px) {
  .header_top .htph {
    padding-bottom: 0px;
  }
  .header_top .htph .linebar {
    padding-left: 22px;
    margin-left: 0px;
    border-right: 1px solid #fff;
    height: 21px;
  }
  .header_top .htph img {
    width: 18px;
    margin-right: 22px;
  }
}
.header_top .htemail {
  justify-content: center;
}
.header_top .htemail img {
  width: 20px;
  max-width: 100%;
  display: inline-block;
  margin-right: 10px;
}
@media only screen and (min-width: 576px) {
  .header_top .htemail {
    padding-left: 22px;
  }
  .header_top .htemail img {
    width: 24px;
    margin-right: 22px;
  }
}

.httrademenu {
  transition: 0.4s;
}
.httrademenu .navbar {
  padding: 18px 0px 13px 0px;
}
@media only screen and (min-width: 1000px) {
  .httrademenu .navbar .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
.httrademenu .bg-lights {
  background: #ffffff;
}
.httrademenu .logo {
  width: 140px;
  max-width: 100%;
}
.httrademenu .logo img {
  width: 80%;
}
@media only screen and (min-width: 950px) {
  .httrademenu .logo img {
    width: 100%;
  }
}
.httrademenu .header_button .gradin_btn {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  min-width: 100%;
}
.httrademenu .header_button .gradin_btn span {
  display: none;
}
@media only screen and (min-width: 1050px) {
  .httrademenu .header_button .gradin_btn {
    width: 180px;
    padding: 12px 0px;
    height: auto !important;
  }
  .httrademenu .header_button .gradin_btn span {
    display: block;
    margin-left: 2px;
  }
}
@media only screen and (min-width: 1100px) {
  .httrademenu .header_button {
    padding-left: 50px;
  }
}
.httrademenu .humbagur_icon {
  display: block;
  padding: 8px 0px;
  font-size: 30px;
  margin-right: 15px;
}
.httrademenu #menu:not(.mm-menu) {
  display: none;
}
.httrademenu .mm-ocd {
  z-index: 9999999999 !important;
}
@media only screen and (min-width: 992px) {
  .httrademenu .humbagur_icon {
    display: none;
  }
}
.httrademenu #desktopMenu li {
  margin: 0px;
  position: relative;
  list-style: none;
  padding: 0px 15px;
}
.httrademenu #desktopMenu li > a {
  display: block;
  white-space: nowrap;
  color: #020e28;
  text-align: center;
  font-size: 16px;
  position: relative;
}
.httrademenu #desktopMenu li > a::after {
  width: 100%;
  content: "";
  height: 2px;
  background-color: #fdbe00;
  display: none;
  position: absolute;
  top: 60px;
}
.httrademenu #desktopMenu li > a:hover {
  text-decoration: none;
  color: #fdbe00 !important;
  background-color: unset !important;
}
.httrademenu #desktopMenu li > a:hover::after {
  display: block;
}
.httrademenu #desktopMenu li > ul > li > a {
  text-align: left;
  padding: 10px 17px;
  color: #ffffff;
}
.httrademenu #desktopMenu li > ul > li > a::after {
  width: 100%;
  content: "";
  height: 2px;
  background-color: #fdbe00;
  display: none;
  position: unset;
}
.httrademenu #desktopMenu li > ul > li > a:hover::after {
  display: none;
}
@media only screen and (min-width: 992px) {
  .httrademenu .menuSection .as_mobile_menu {
    display: none;
  }
  .httrademenu #desktopMenu {
    display: block;
  }
  .httrademenu #desktopMenu li {
    padding: 0px 14px;
  }
  .httrademenu #desktopMenu li:hover > a,
  .httrademenu #desktopMenu li.current-menu-item > a,
  .httrademenu #desktopMenu li.current-menu-ancestor > a {
    text-decoration: none;
    color: #fdbe00;
  }
  .httrademenu #desktopMenu li.menu-item-has-children > a {
    padding-right: 12px;
  }
  .httrademenu #desktopMenu li.menu-item-has-children:after {
    content: "\f107";
    display: block;
    font-weight: 900;
    width: 0;
    height: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    font-family: "Font Awesome 5 Free";
    color: inherit;
  }
  .httrademenu #desktopMenu li.menu-item-has-children.active:after {
    border-top: 6px solid #fff;
    right: 10px;
  }
  .httrademenu #desktopMenu li.active > a {
    text-decoration: none;
    color: #fdbe00;
    background-color: #007dff;
    border-radius: 4px;
  }
  .httrademenu #desktopMenu li.active > a:hover,
  .httrademenu #desktopMenu li.active > a:active {
    background-color: #007dff;
  }
  .httrademenu #desktopMenu li ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9;
    padding: 5px 0 0;
    margin: 0;
    min-width: 100px;
    transition: 0.4s all ease-in-out;
    opacity: 0;
    transform: scaleY(0);
    z-index: 5;
  }
  .httrademenu #desktopMenu li ul li {
    font-weight: 400;
    background-color: #007dff;
    margin-bottom: 0;
    padding: 0;
  }
  .httrademenu #desktopMenu li ul li:first-child:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 10px solid #007dff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  .httrademenu #desktopMenu li ul li a {
    text-align: left;
    padding: 10px 15px;
    color: #ffffff;
  }
  .httrademenu #desktopMenu li ul li.menu-item-has-children:after {
    content: "\f105";
  }
  .httrademenu #desktopMenu li ul li.current-menu-item > a,
  .httrademenu #desktopMenu li ul li:hover > a,
  .httrademenu #desktopMenu li ul li.current-menu-ancestor > a {
    background-color: #007dff;
  }
  .httrademenu #desktopMenu li ul li:hover > a {
    background-color: #007dff;
    color: #ffffff;
  }
  .httrademenu #desktopMenu li ul li + li {
    border-top: 1px solid #fff;
  }
  .httrademenu #desktopMenu li ul li ul {
    top: 0;
    left: 100%;
    padding: 0;
  }
  .httrademenu #desktopMenu li ul li ul li:first-child:before {
    display: none;
  }
  .httrademenu #desktopMenu li:hover > ul {
    opacity: 1;
    transform: scaleY(1);
  }
}
@keyframes cssAnimation {
  from {
    -webkit-transform: scale(1) translate(0);
  }
  to {
    -webkit-transform: scale(1.3) translate(0);
  }
}

.mobile_menu a {
  text-decoration: none;
}

.bannar_section {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.bannar_section .rgb_layer {
  background-color: rgba(2, 14, 40, 0.68);
  padding-top: 20px;
  padding-bottom: 10px;
}
.bannar_section .swiper {
  width: 100%;
}
.bannar_section .swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannar_section .swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.bannar_section .bannar_content {
  color: #fff;
}
.bannar_section .bannar_content .h1 {
  margin: 0px;
  padding: 0px;
  line-height: 1.2;
}
@media only screen and (min-width: 1100px) {
  .bannar_section .bannar_content .h1 {
    font-size: 64px;
  }
}
.bannar_section .bannar_content .h1 .blue {
  color: #007dff;
}
.bannar_section .bannar_content .h1 .yellow {
  color: #fdbe00;
}
.bannar_section .bannar_content p {
  font-size: 20px;
}
@media only screen and (min-width: 992px) {
  .bannar_section .bannar_content p {
    font-size: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .bannar_section .bannar_content p {
    font-size: 29px;
  }
}
.bannar_section .photo-wrapper {
  width: 100%;
  padding-bottom: 50px;
}
.bannar_section .photo-wrapper img {
  width: 650px;
  max-width: 100%;
}
.bannar_section .swiper-pagination {
  bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .bannar_section .swiper-pagination {
    left: 18%;
  }
}
@media only screen and (min-width: 992px) {
  .bannar_section .swiper-pagination {
    left: 22%;
  }
}
@media only screen and (min-width: 1200px) {
  .bannar_section .swiper-pagination {
    left: 17%;
  }
}
.bannar_section .swiper-pagination .swiper-pagination-bullet {
  border: 3px solid #fff;
  width: 12px;
  height: 12px;
  opacity: 1;
}
.bannar_section .swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.0941176471);
}
.bannar_section .bannarup {
  position: relative;
  z-index: 2;
}

.quality_section {
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: auto;
  overflow-y: hidden;
}
@media only screen and (min-width: 992px) {
  .quality_section {
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
@media only screen and (min-width: 1100px) {
  .quality_section {
    padding-top: 100px;
    padding-bottom: 42px;
  }
}
.quality_section .shdbox {
  width: 1166px;
  margin: auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  display: flex;
}
@media only screen and (min-width: 750px) {
  .quality_section {
    overflow-x: unset;
    overflow-y: unset;
  }
  .quality_section .shdbox {
    max-width: 100%;
  }
}
.quality_section .item_box {
  width: 33.33%;
  padding: 38px 20px 10px 20px;
  border-right: 1px solid rgba(231, 231, 231, 0.8588235294);
}
.quality_section .item_box:last-child {
  border-right: 0px;
}
.quality_section .inner_box {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.quality_section .inner_box .text .h3 {
  margin: 0px;
  font-size: 20px;
}
@media only screen and (min-width: 700px) {
  .quality_section .inner_box .text .h3 {
    font-size: 22px;
  }
}
@media only screen and (min-width: 992px) {
  .quality_section .inner_box .text .h3 {
    font-size: 30px;
  }
}
.quality_section .inner_box .icon {
  padding-right: 10px;
}
@media only screen and (min-width: 992px) {
  .quality_section .inner_box .icon {
    width: 110px;
  }
}
.quality_section .inner_box .one img, .quality_section .inner_box .two img, .quality_section .inner_box .three img {
  width: 50px;
  max-width: 100%;
}
@media only screen and (min-width: 992px) {
  .quality_section .inner_box .one img, .quality_section .inner_box .two img, .quality_section .inner_box .three img {
    width: 70px;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1100px) {
  .quality_section .inner_box .one img {
    width: 77px;
    max-width: 100%;
  }
  .quality_section .inner_box .two img {
    width: 96px;
    max-width: 100%;
  }
  .quality_section .inner_box .three img {
    width: 78px;
    max-width: 100%;
  }
}
.quality_section .inner_box .text_box {
  padding-top: 3px;
}
.quality_section .inner_box .text_box p {
  margin-bottom: 0px;
  color: #101010;
}

.htwhysection {
  padding-top: 40px;
  padding-bottom: 74px;
}
.htwhysection .cur_box_bg {
  margin: auto;
  width: 280px;
  height: 280px;
  background-color: #007dff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
}
.htwhysection .cur_box_bg .img_wrapper_box {
  width: 270px;
  height: 270px;
}
.htwhysection .cur_box_bg .img_wrapper_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 576px) {
  .htwhysection .cur_box_bg {
    width: 300px;
    height: 300px;
  }
  .htwhysection .cur_box_bg .img_wrapper_box {
    width: 280px;
    height: 280px;
  }
}
@media only screen and (min-width: 768px) {
  .htwhysection .cur_box_bg {
    width: 280px;
    height: 280px;
  }
  .htwhysection .cur_box_bg .img_wrapper_box {
    width: 270px;
    height: 270px;
  }
}
@media only screen and (min-width: 992px) {
  .htwhysection .cur_box_bg {
    width: 300px;
    height: 300px;
  }
  .htwhysection .cur_box_bg .img_wrapper_box {
    width: 280px;
    height: 280px;
  }
}
@media only screen and (min-width: 1100px) {
  .htwhysection .cur_box_bg {
    width: 418px;
    height: 421px;
  }
  .htwhysection .cur_box_bg .img_wrapper_box {
    width: 395px;
    height: 395px;
  }
}
.htwhysection .inner_text_box {
  width: 500px;
  max-width: 100%;
}
.htwhysection .inner_text_box .h2 {
  position: relative;
  color: #004377;
  margin-bottom: 40px;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .htwhysection .inner_text_box .h2 {
    margin-top: 25px;
  }
}
.htwhysection .inner_text_box .h2 span {
  color: #fdbe00;
}
.htwhysection .inner_text_box .h2::after {
  position: absolute;
  content: "";
  width: 20%;
  border-bottom: 2px solid #007dff;
  bottom: -12px;
  left: 0px;
}
.htwhysection .inner_text_box p {
  color: #101010;
}

.service_section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media only screen and (min-width: 1190px) {
  .service_section .col-md-6:nth-child(even) .innerbox {
    width: 100%;
    padding-left: 100px;
  }
}
.service_section .rgb_overlay {
  padding: 9px 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 14, 40, 0.8);
}
@media only screen and (min-width: 1000px) {
  .service_section .container {
    max-width: 100%;
    width: 1140px;
  }
}
.service_section .innerbox {
  color: #fff;
  width: 470px;
  max-width: 100%;
  padding: 25px 0px 10px 0px;
}
.service_section .innerbox .icon_box {
  width: 120px;
  max-width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.service_section .innerbox .icon_box img {
  max-width: 100%;
}
.service_section .innerbox .icon_1 img {
  width: 55px;
  height: auto;
}
.service_section .innerbox .icon_2 img {
  width: 64px;
  height: auto;
}
.service_section .innerbox .icon_3 img {
  width: 117px;
  height: auto;
}
.service_section .innerbox .icon_4 img {
  width: 52px;
  height: auto;
}
.service_section .innerbox .h3 {
  color: #fff;
  position: relative;
  margin-bottom: 22px;
}
.service_section .innerbox .h3 span {
  color: #fdbe00;
}
.service_section .innerbox .h3::after {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 90px;
  border-bottom: 2px solid #007dff;
  bottom: -10px;
  left: 0px;
}
.service_section .innerbox .parga_box p {
  margin: 0px;
  display: inline;
}
.service_section .innerbox .parga_box a {
  color: #fff;
  text-decoration: none;
  font-style: italic;
  font-weight: 500;
}
.service_section .innerbox .parga_box a:hover {
  color: #fdbe00;
}

.tilte_Box_underline .h2 {
  position: relative;
  color: #004377;
  margin-bottom: 0px;
  margin-top: 0px;
}
@media only screen and (min-width: 768px) {
  .tilte_Box_underline .h2 {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
.tilte_Box_underline .h2 span {
  color: #fdbe00;
}
.tilte_Box_underline .h2::after {
  position: absolute;
  content: "";
  width: 20%;
  border-bottom: 2px solid #007dff;
  bottom: -12px;
  left: 0px;
}

.brand_section {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 992px) {
  .brand_section {
    padding-top: 82px;
    padding-bottom: 68px;
  }
  .brand_section .container {
    width: 1190px;
  }
}
.brand_section .tilte_Box_underline h2, .brand_section .tilte_Box_underline .h2 {
  color: #fdbe00;
  margin-bottom: 25px;
}
.brand_section .tilte_Box_underline h2 span, .brand_section .tilte_Box_underline .h2 span {
  color: #004377;
}
.brand_section .brand_com_info {
  padding: 15px 0px;
}
.brand_section .brand_com_info p {
  color: #101010;
  font-size: 14px;
  margin: 0px;
}
@media only screen and (min-width: 768px) {
  .brand_section .brand_com_info {
    padding: 24px 0px;
  }
}
.brand_section .inner_img_box {
  height: 100%;
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .brand_section .inner_img_box {
    padding-top: 40px;
    min-height: 532px;
  }
}
@media only screen and (min-width: 992px) {
  .brand_section .inner_img_box {
    padding-top: 0px;
  }
}
.brand_section .inner_img_box .img_back {
  max-width: 100%;
  position: relative;
}
.brand_section .inner_img_box .img_back img {
  width: 100%;
}
.brand_section .inner_img_box .img_back .back_img {
  -o-object-fit: cover;
     object-fit: cover;
}
.brand_section .inner_img_box .img_back .img_font {
  background-color: rgba(2, 14, 40, 0.6);
  width: 180px;
  max-width: 100%;
  left: 10px;
  top: 10px;
  position: absolute;
  padding: 15px 15px 15px 0px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.brand_section .inner_img_box .img_back .img_font img {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .brand_section .inner_img_box .img_back {
    width: 420px;
    height: 100%;
  }
  .brand_section .inner_img_box .img_back img {
    height: 100%;
  }
  .brand_section .inner_img_box .img_back .img_font {
    background-color: unset;
    border-left: 0px;
    border-top: 0px;
    width: 446px;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    top: -20px;
    bottom: unset;
    right: 155px;
    left: unset;
  }
  .brand_section .inner_img_box .img_back .img_font img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .brand_section .inner_img_box .img_back .img_font {
    width: 446px;
    max-width: 100%;
    right: 70px;
  }
}
@media only screen and (min-width: 1100px) {
  .brand_section .inner_img_box .img_back .img_font {
    width: 446px;
    max-width: 100%;
    right: 155px;
  }
}

.request_section {
  width: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.request_section .rgb_layer {
  padding: 30px 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 14, 40, 0.8);
}
@media only screen and (min-width: 768px) {
  .request_section .rgb_layer {
    padding: 60px 0px;
  }
}
@media only screen and (min-width: 992px) {
  .request_section .rgb_layer {
    padding: 90px 0px;
  }
}
.request_section .ht_iner_box {
  position: relative;
  flex-direction: column;
}
.request_section .ht_iner_box .leftbox img {
  width: 838px;
  max-width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .request_section .ht_iner_box .leftbox img {
    height: 300px;
  }
}
@media only screen and (min-width: 992px) {
  .request_section .ht_iner_box .leftbox img {
    height: 360px;
  }
}
.request_section .ht_iner_box .rightbox {
  order: -1;
  top: 13%;
  right: 0px;
  width: 764px;
  padding: 15px;
  max-width: 100%;
  background-color: #131d31;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .request_section .ht_iner_box .rightbox {
    padding: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .request_section .ht_iner_box .rightbox {
    position: absolute;
    padding: 50px 38px 31px 38px;
  }
}
.request_section .ht_iner_box .rightbox .tilte_Box_underline h2, .request_section .ht_iner_box .rightbox .tilte_Box_underline .h2 {
  margin: 0px;
  padding: 0px;
  color: #fdbe00;
}
.request_section .ht_iner_box .rightbox .tilte_Box_underline h2 span, .request_section .ht_iner_box .rightbox .tilte_Box_underline .h2 span {
  color: #007dff;
}
.request_section .ht_iner_box .rightbox .tilte_Box_underline h2::after, .request_section .ht_iner_box .rightbox .tilte_Box_underline .h2::after {
  border: 0px;
}
.request_section .ht_iner_box .rightbox p {
  margin: 10px 0px 17px 0px;
}
.request_section .ht_iner_box .rightbox .btn {
  font-weight: 700;
  padding: 10px 15px;
  width: auto;
  text-decoration: none;
}

.footer_sectoin .logo {
  text-align: center;
  padding-bottom: 50px;
}
.footer_sectoin .logo img {
  width: 154px;
  max-width: 100%;
}
.footer_sectoin .footer_content {
  padding: 44px 0px 18px 0px;
  background-color: #010d27;
}
.footer_sectoin .custom_row {
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}
.footer_sectoin .custom_row p, .footer_sectoin .custom_row a, .footer_sectoin .custom_row span {
  font-size: 14px;
}
.footer_sectoin .custom_row a {
  color: #ffffff;
}
.footer_sectoin .custom_row ul {
  padding: 0px;
  margin: 0px;
}
.footer_sectoin .custom_row ul li {
  list-style: none;
}
.footer_sectoin .custom_row .h5 {
  margin-bottom: 10px;
}
@media only screen and (min-width: 576px) {
  .footer_sectoin .custom_row .h5 {
    margin-bottom: 32px;
  }
}
.footer_sectoin .custom_row .about ul li {
  padding-right: 12px;
}
.footer_sectoin .box {
  padding-right: 10px;
  padding-bottom: 20px;
}
.footer_sectoin .about, .footer_sectoin .touch, .footer_sectoin .links, .footer_sectoin .estimate {
  width: 100%;
}
@media only screen and (min-width: 576px) {
  .footer_sectoin .box {
    padding-bottom: 10px;
  }
  .footer_sectoin .about, .footer_sectoin .touch, .footer_sectoin .links, .footer_sectoin .estimate {
    width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  .footer_sectoin .about {
    width: 25%;
  }
  .footer_sectoin .touch {
    width: 26%;
  }
  .footer_sectoin .links {
    width: 18%;
  }
  .footer_sectoin .estimate {
    width: 30%;
  }
}
.footer_sectoin .box_inner {
  margin: unset;
}
@media only screen and (min-width: 576px) {
  .footer_sectoin .box_inner {
    margin: 0px;
  }
}
.footer_sectoin .about .about_inner {
  width: 260px;
  max-width: 100%;
}
.footer_sectoin .touch .touch_inner {
  width: 240px;
  max-width: 100%;
}
.footer_sectoin .touch .touch_inner li {
  display: flex;
}
.footer_sectoin .touch .touch_inner li .location_icon img {
  width: 20px;
}
.footer_sectoin .touch .touch_inner li img {
  width: 100%;
  height: auto;
  display: inline-block;
}
.footer_sectoin .touch .touch_inner li .icon {
  width: 16px;
  margin-right: 10px;
  display: block;
}
.footer_sectoin .touch .touch_inner li p {
  margin: 0px;
}
.footer_sectoin .touch .touch_inner li a {
  word-wrap: break-word;
  word-break: break-all;
}
.footer_sectoin .touch .touch_inner li:hover a {
  color: #fdbe00;
  text-decoration: none;
}
.footer_sectoin .links .links_inner {
  width: 170px;
  max-width: 100%;
}
.footer_sectoin .links .links_inner li:hover a {
  color: #fdbe00;
  text-decoration: none;
}
.footer_sectoin .estimate .estimate_inner {
  width: 240px;
  max-width: 100%;
}
.footer_sectoin .estimate .gradin_btn {
  text-decoration: none;
  padding: 12px 20px;
  width: auto;
  min-width: auto;
}
.footer_sectoin .copyright_content {
  padding: 10px 0px;
  background-color: #000718;
  text-align: center;
  color: #ffffff;
}
.footer_sectoin .copyright_content p {
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}
.footer_sectoin .copyright_content a {
  color: #fff;
  text-decoration: none;
}
.footer_sectoin .copyright_content a:hover {
  color: #fdbe00;
}/*# sourceMappingURL=style.css.map */