@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

// Media Query Start
@mixin minwidth($width){
	@media only screen and (min-width: $width){
		@content;
	}
}
@mixin maxwidth($width){
	@media only screen and (max-width: $width){
		@content;
	}
}

@mixin bgimgcontrol{
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}
//Media Query End
// Start Typography

$white: #ffffff;
$black: #020e28;
$yellow: #fdbe00;
$blue: #007dff;
$blue_second: #004377;
$allHeading: 'h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6';
body{
    @extend .poppins-regular;
    font-size: 16px;
    line-height: 26px;
    overflow: unset;
}
// html{
//     scrollbar-color: #634f7b #ddd;
//     scrollbar-width: thin;
//     &::-webkit-scrollbar{
//         width: 0.5vw;
//     }
//     &::-webkit-scrollbar-thumb{
//         background-color: #634f7b;
//         border-radius: 5px;
//         border: 1px solid transparent;
//         background-clip: content-box;
//     }
//     &::-webkit-scrollbar-track{
//         background-color: #ddd;
//     }
// }

#{$allHeading}{
    font-weight: 700;
}

h1, .h1{
    font-size: 34px;
    font-weight: 700;
    @include minwidth(768px){
        font-size: 40px;
    }
    @include minwidth(1190px){
        font-size: 64px;
    }
}

h2, .h2{
    font-size: 30px;
    font-weight: 700;
    @include minwidth(1190px){
        font-size: 35px;
    }
}

h3, .h3{
    font-weight: 700;
    font-size: 25px;
    @include minwidth(1190px){
        font-size: 30px;
    }
}
h4, .h4{
    font-weight: 700;
    font-size: 20px;
    @include minwidth(1190px){
        font-size: 22px;
    }
}
h5, .h5{
    font-weight: 700;
    font-size: 18px;
    @include minwidth(1190px){
        font-size: 20px;
    }
}
h6, .h6{
    font-weight: 700;
    font-size: 16px;
    @include minwidth(1190px){
        font-size: 18px;
    }
}

.img100{
    width: 100%;
}
img{
    max-width : 100%;
    height : auto;
}
a{
    transition: 0.3s all;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
}
label{
    margin-bottom: 5px;
}
input[type=text],input[type=email],input[type=password],input[type=tel],input[type=url],input[type=search],[type=number],textarea, select{
    padding: 0px 10px;
    width: 100%; 
    border-radius: 0px;
    height: 42px;
    border: 1px solid $black;
    margin-bottom: 8px;
    outline-offset: 0px;
    &:focus{
        outline: 1px solid $blue_second;
    }
}
textarea{
    height: 70px;
    padding: 10px;
}
input[type=submit],input[type=button],button,.button,.btn-primary{
    position: relative;
    display: inline-block;
    min-width: 150px;
    background-color: $blue;
    color: $white;        
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 18px;
    margin-bottom: 8px;
    font-size: 16px;   
    border: none;
    border-radius: 0px;
    outline: 1px solid;
    outline-color: $blue;
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover, &:active{
        text-decoration: none;
        box-shadow: 0 0 20px rgba(255, 255, 255, .2), rgba(255, 255, 255) 0px 0px 0px 1px;
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
    }
    @include minwidth(1200px){
        font-size: 20px;
        min-width: 180px;
        padding: 15px 20px;
    }
    @include minwidth(1600px){
        font-size: 24px;
        min-width: 216px;
    }
}
input[type=submit]{
    min-width: 160px;
    @include minwidth(1200px){
        min-width: 200px;
    }
    @include minwidth(1600px){
        min-width: 282px;
    }
}
.btn-nobg{
    background-color: unset;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: 1px solid;
    outline-color: $white;
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover, .active {
        border: none;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2), rgba(255, 255, 255) 0px 0px 0px 1px;
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
}
.btn-big{
    display: block;
    width: fit-content;
    min-width: 150px;
    margin: auto;
    position: relative;
    z-index: 1;
    @include minwidth(768px){
        min-width: 200px;
        padding: 18px;
    }
    @include minwidth(1600px){
        min-width: 380px;
        padding: 28px 30px;
        font-size: 28px;
    }
}
.expnd-btn{
    padding: 12px;
    width: fit-content;
    min-width: 160px;
    display: block;
    text-decoration: none;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    text-underline-position: under;
    outline: 1px solid;
    outline-color: $white;
    outline-offset: 0px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    &:hover, .active {
        text-decoration: none;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2), rgba(255, 255, 255) 0px 0px 0px 1px;
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
    @include minwidth(1400px){
        font-size: 18px;
        padding: 21px;
        min-width: 207px;
    }
    &.big{
        min-width: 180px;
        padding: 15px;
        @include minwidth(768px){
            font-size: 22px;
            min-width: 220px;
            padding: 20px;
        }
        @include minwidth(1200px){
            font-size: 26px;
            min-width: 260px;
        }
        @include minwidth(1600px){
            font-size: 30px;
            min-width: 313px;
            padding: 30px;
        }
    }
}
p, ul, ol, table, address{
    margin-bottom: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
.container{
    @include minwidth(1100px){
        width: 1190px;
    }
}

// Site Typography
.section_dark_blue{
    background-color: #020e28;
}
.section_black{
    background-color: #000718;
}

.btn {
    &.gradin_btn{
        min-width: 180px;
        padding: 12px 18px;
        font-size: 16px;
        display: inline-block;
        font-weight: 700;
        color: $white;
        border: 0px;
        background: rgb(250,189,2);
        background: -moz-linear-gradient(114deg, rgba(250,189,2,1) 0%, rgba(104,151,149,1) 49%, rgba(0,125,255,1) 100%);
        background: -webkit-linear-gradient(114deg, rgba(250,189,2,1) 0%, rgba(104,151,149,1) 49%, rgba(0,125,255,1) 100%);
        background: linear-gradient(114deg, rgba(250,189,2,1) 0%, rgba(104,151,149,1) 49%, rgba(0,125,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fabd02",endColorstr="#007dff",GradientType=1);
        border-radius: 25px;
    }
    &.btn_primariey{
        min-width: 150px;
        padding: 12px 18px;
        font-size: 16px;
        display: inline-block;
        color: $white;
        border-radius:25px;
        background-color: $blue;
    }
}

.bg_overlayer{
    background-color: rgba(2, 14, 40, 0.541);
}


// start header section
// Header Top Bar

header{
    &.sticky{
        .httrademenu{
            width: 100%;
            position: fixed;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            top: 0;
            left: 0;
            z-index: 999999;
        }
    }
}

.header_top{
    padding: 10px 0px;
    @include minwidth(576px){
        padding: 20px 0px;
    }
    .hbox_wrapper{
        margin: auto;
        width: 600px;
        max-width: 100%;
        flex-direction:column;
        a{
        @extend .poppins-regular;
        color: #e1e1e1;
        font-size: 16px;
        text-decoration: none;
        display: inline-block;
        &:hover{
            color: #017bfd;
        }
        }
        @include minwidth(576px){
            flex-direction:row;
        }
    }
    .htph{
        justify-content: center;
        padding-bottom: 5px;
        
        img{
            width: 20px;
            max-width: 100%;
            display:inline-block;
            margin-right: 10px;
        }
        @include minwidth(576px){
            padding-bottom: 0px;
            .linebar{
                padding-left:22px;
                margin-left: 0px;
                border-right: 1px solid #e1e1e1;
                height: 21px;
            }
            img{
                width: 18px;
                margin-right: 22px;
            }
        }
        
    }
    .htemail{
        justify-content: center;
        img{
            width:20px;
            max-width: 100%;
            display:inline-block;
            margin-right: 10px;
        }
        @include minwidth(576px){
            padding-left:22px;
            img{
                width: 24px;
                margin-right: 22px;
            }
        }
    }
}

// start menu section
.mm-ocd{
    z-index: 9999999999!important;
}
.httrademenu {
    transition: 0.4s;
    .navbar{
        padding: 7px 0px 7px 0px;
        @include minwidth(1000px){
            padding: 18px 0px 13px 0px;
            .container{
                padding-left: 0px!important;
                padding-right: 0px!important;
            }
        }
    }
    .bg-lights {
        background: $white;
    }
    .logo{
        width: 140px;
        max-width: 100%;
        img{
            width: 60%;
        }
        @include minwidth(1000px){
            img{
                width: 100%;
            }
        }
    }
    .header_button{
        .gradin_btn{
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0px;
            min-width: 100%;
            span{
                display: none;
            }
            img{
                width: 52%;
            }
            &:hover{
                text-decoration: none;
            }
        }
        @include minwidth(1000px){
            .gradin_btn{
                width: 180px;
                padding: 12px 0px;
                height: auto!important;
                span{
                    display: block;
                    margin-left: 2px;
                }
                img{
                    width: unset;
                    max-width: 22px;
                    @include minwidth(1000px){
                        margin-right: 5px;
                    }
                }
            }
        }
        @include minwidth(1100px){
            padding-left: 50px;
        }
    }

    .humbagur_icon {
        display: block;
        padding: 8px 0px;
        font-size: 25px;
        margin-left: 15px;
        i{
            transform: rotate(180deg);
        }
        @include  minwidth(1000px){
            font-size: 30px;
        }
    }
    // solve show html tag when lode site 
    #menu:not(.mm-menu) {
        display: none;
    }

    // -------------- end -------------
    @include minwidth(992px) {
        .humbagur_icon {
            display: none;
        }
    }

    #desktopMenu li {
        margin: 0px;
        position: relative;
        list-style: none;
        padding: 0px 15px;
    }

    #desktopMenu li>a {
        display: block;
        white-space: nowrap;
        color: $black;
        text-align: center;
        font-size: 16px;
        @extend .poppins-bold;
        position: relative;
        &::after{
            width: 100%;
            content: '';
            height: 2px;
            background-color: $yellow;
            display: none;
            position: absolute;
            top: 60px;
        }
        &:hover{
            text-decoration: none;
            color: $yellow!important;
            background-color: unset!important;
            &::after{
               display: block;
            }
        }
    }

    #desktopMenu li>a.active {
        color: $yellow !important;
        &::after {
            display: block;
        }
    }

    #desktopMenu li>ul>li>a {
        text-align: left;
        padding: 10px 17px;
        color: $white;
        &::after{
            width: 100%;
            content: '';
            height: 2px;
            background-color: $yellow;
            display: none;
            position: unset;
        }
        &:hover{
            &::after{
               display: none;
            }
        }
    }

    @include minwidth(992px) {
        .menuSection .as_mobile_menu {
            display: none;
        }
        #desktopMenu {
            display: block;
        }
       

        #desktopMenu li{
            padding: 0px 14px;
        }
       
        #desktopMenu li:hover>a,
        #desktopMenu li.current-menu-item>a,
        #desktopMenu li.current-menu-ancestor>a {
            text-decoration: none;
            color: $yellow;
        }
        #desktopMenu li.menu-item-has-children>a {
            padding-right: 12px;
        }
        #desktopMenu li.menu-item-has-children:after {
            content: "\f107";
            display: block;
            font-weight: 900;
            width: 0;
            height: 0;
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 16px;
            font-family: "Font Awesome 5 Free";
            color: inherit;
        }
        #desktopMenu li.menu-item-has-children.active:after {
            border-top: 6px solid #fff;
            right: 10px;
        }
        #desktopMenu li.active>a {
            text-decoration: none;
            color: $yellow;
            background-color: $blue;
            border-radius: 4px;
        }
        #desktopMenu li.active>a:hover,
        #desktopMenu li.active>a:active {
            background-color: $blue;
        }
        #desktopMenu li ul {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 9;
            padding: 5px 0 0;
            margin: 0;
            min-width: 100px;
            -webkit-transition: 0.4s all ease-in-out;
            transition: 0.4s all ease-in-out;
            opacity: 0;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            z-index: 5;
        }
        #desktopMenu li ul li {
            font-weight: 400;
            background-color: $blue;
            margin-bottom: 0;
            padding: 0;
        }
        #desktopMenu li ul li:first-child:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-bottom: 10px solid $blue;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            position: absolute;
            left: 10px;
            top: -10px;
        }
        #desktopMenu li ul li a {
            text-align: left;
            padding: 10px 15px;
            color: $white;
        }
        #desktopMenu li ul li.menu-item-has-children:after {
            content: "\f105";
        }
        #desktopMenu li ul li.current-menu-item>a,
        #desktopMenu li ul li:hover>a,
        #desktopMenu li ul li.current-menu-ancestor>a {
            background-color: $blue;
        }
        #desktopMenu li ul li:hover>a {
            background-color: $blue;
            color: $white;
        }
        #desktopMenu li ul li+li {
            border-top: 1px solid #fff;
        }
        #desktopMenu li ul li ul {
            top: 0;
            left: 100%;
            padding: 0;
        }
        #desktopMenu li ul li ul li:first-child:before {
            display: none;
        }
        #desktopMenu li:hover>ul {
            opacity: 1;
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
        }
    }

    @keyframes cssAnimation {
        from {
            -webkit-transform: scale(1) translate(0);
        }
        to {
            -webkit-transform: scale(1.3) translate(0);
        }
    }
    @-webkit-keyframes cssAnimation {
        from {
            -webkit-transform: scale(1) translate(0);
        }
        to {
            -webkit-transform: scale(1.3) translate(0);
        }
    }
  
}

.mobile_menu{
    a{
        text-decoration: none;
    }
}



// Start Banner Section
.bannar_section {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    .rgb_layer{
        background-color: rgba(2,14,40,0.68);
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .swiper {
        width: 100%;
    }
    .swiper-slide {
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1
    }
    .bannar_content{
        .h1,.h2{
            @extend .poppins-bold;
            margin: 0px;
            padding: 0px;
            line-height: 1.2;
            @include minwidth(1100px){
                font-size: 64px;
            }
            .blue{
                color: $blue
            }
            .yellow{
                color: $yellow;
            }
            
        }

        p{
            @extend .poppins-regular;
            font-size: 20px;
            line-height: 1.2;
            @include minwidth(992px){
                font-size: 25px;
            }
            @include minwidth(992px){
                font-size: 29px;
            }
        }
        color: #fff;
    }
    .photo-wrapper{
        width: 100%;
        padding-bottom:50px;
        img{
            width: 650px;
            max-width: 100%;
        }
    }
    .swiper-pagination{
        bottom:10px;
        // z-index: 999;
        @include minwidth(768px){
            left: 18%;
        }
        @include minwidth(992px){
            left: 22%;
        }
        @include minwidth(1200px){
            left: 17%;
        }
        .swiper-pagination-bullet{
            border: 3px solid #fff;
            width: 12px;
            height: 12px;
            opacity: 1;
        }
        .swiper-pagination-bullet-active{
            background-color: $yellow;
        }
    }
    .bannarup {
        position: relative;
        z-index: 2;
    }
}

// start quality section
.quality_section{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    @include minwidth(768px){
        padding-top: 40px;
        padding-bottom: 20px;
    }
    @include minwidth(992px){
        padding-top: 50px;
        padding-bottom: 20px;
    }
    @include minwidth(1100px){
        padding-top: 100px;
        padding-bottom: 42px;
    }
    overflow-x: auto;
    overflow-y: hidden;
    .shdbox{
        width: fit-content;
        @include minwidth(840px){
            width: 1166px;
        }
        margin: auto;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        display: flex;
     
    }
    @include minwidth(840px){
        overflow-x: unset;
        overflow-y: unset;
        .shdbox{
            max-width: 100%;
        }
    }


    .item_box{
        min-width: 270px;
        @include minwidth(568px){
            width: 33.33%; 
        }
        padding: 38px 20px 10px 20px;
        border-right:1px solid #e7e7e7db;
        &:last-child{
            border-right:0px;
        }
    }
    .inner_box{
        margin: auto;
        width: 100%;
        height: 100%;
        display: flex;
        // justify-content: space-between;
        flex-direction: column;
        @include minwidth(992px){
            justify-content: space-between;
        }
        .text{
           .h3{
            margin: 0px;
            font-size: 20px;
            @include minwidth(700px){
                font-size: 22px;
            }
            @include minwidth(992px){
                font-size: 30px;
            }
            }
        }
        .icon{
            padding-right: 10px;
            @include minwidth(992px){
                width: 110px;
            }
            
        }
        .one, .two, .three{
            img{
                width: 50px;
                max-width: 100%;
            }
        }
        @include minwidth(992px){
            .one, .two, .three{
                img{
                    width: 70px;
                    max-width: 100%;
                }
            }
        }
        
        @include minwidth(1100px){
            .one{
                img{
                    width: 77px;
                    max-width: 100%;
                }
            }
            .two{
                img{
                    width: 96px;
                    max-width: 100%;
                }
            }
            .three{
                img{
                    width: 78px;
                    max-width: 100%;
                }
            }
        }

        .text_box{
            padding-top: 3px;
            p{
                margin-bottom: 0px;
                color: #101010;
            }
        }
    }
}

// start why section
.htwhysection{
    padding-top: 30px;
    padding-bottom: 30px;
    @include minwidth(768px){
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include minwidth(992px){
        padding-bottom: 50px;
    }
    @include minwidth(1000px){
        padding-bottom: 74px;

    }
    .cur_box_bg{
        margin: auto;
        width: 280px;
        height: 280px;
        background-color: $blue;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: end;
        .img_wrapper_box{
            width: 270px;
            height: 270px;
            border: 8px solid #fff;
            border-radius: 50%;
            transition: border-color 0.3s ease;

            @keyframes borderColorChange {
                0% {
                  border-color: #fff;
                }
                33% {
                  border-color: #fdbe00;
                }
                66% {
                  border-color: #6798a7;
                }
                100% {
                  border-color: #fdbe00;
                }
              }
            
              &:hover {
                animation: borderColorChange 5s infinite;
              }
            img{
                width: 100%;
                height: 100%;
                object-fit:cover;
            }
        }

        @include minwidth(576px){
            width: 300px;
            height: 300px;
            .img_wrapper_box{
                width: 280px;
                height: 280px;
            }
        }
        @include minwidth(768px){
            width: 280px;
            height: 280px;
            .img_wrapper_box{
                width: 270px;
                height: 270px;
            }
        }
        @include minwidth(992px){
            width: 300px;
            height: 300px;
            .img_wrapper_box{
                width: 280px;
                height: 280px;
            }
        }
        @include minwidth(1100px){
            width: 418px;
            height: 421px;
            .img_wrapper_box{
                width: 395px;
                height: 395px;
            }
        }
    }

    .inner_text_box{
        width: 500px;
        max-width: 100%;
        .h2{
            position: relative;
            color: #004377;
            margin-bottom: 30px;
            margin-top: 30px;
            @include minwidth(768px){
                margin-top: 40px;
                margin-bottom:40px;
            }
            @include minwidth(992px){
                margin-top: 25px;
            }
            span{
                color: $yellow;
            }
            &::after{
                position: absolute;
                content: '';
                width: 20%;
                border-bottom: 2px solid $blue;
                bottom: -12px;
                left: 0px;
            }
        }
        p{
            color: #101010;
            margin-bottom: 0px;
        }
    }

}

// Start Service section
.service_section{
    @include bgimgcontrol();
    @include minwidth(1190px){
        .col-md-6{
            &:nth-child(even){
                .innerbox{
                    width: 100%;
                    padding-left: 100px;
                }
            }
        }
    }

    .rgb_overlay{
        padding: 9px 0px;
        width: 100%;
        height: 100%;
        background-color:rgba(2,14,40,0.80);
    }

    .container{
        @include minwidth(1000px){
            max-width: 100%;
            width: 1140px;
        }
    }

    .innerbox{
        color: #fff;
        width: 470px;
        max-width: 100%;
        padding: 25px 0px 10px 0px;

        .icon_box{
            width: 120px;
            max-width: 100%;
            min-height: 50px;
            display: flex;
            align-items: center;
            margin-bottom: 18px;
            img{
                max-width: 100%;
            }
        }
        .icon_1{
            img{
                width:55px;
                height: auto;

            }
        }
        .icon_2{
            img{
                width:64px;
                height: auto;

            }
        }
        .icon_3{
            img{
                width:117px;
                height: auto;
            }
        }
        .icon_4{
            img{
                width:52px;
                height: auto;
            }
        }

        h3, .h3{
            color: #fff;
            position: relative;
            margin-bottom: 22px;
            font-size: 20px;
            @include minwidth(768px){
                font-size: 25px;
            }
            @include minwidth(992px){
                font-size: 30px;
            }

            span{
                color: $yellow;
            }
            &::after{
                position: absolute;
                content: '';
                width: 100%;
                max-width: 90px;
                border-bottom: 2px solid $blue;
                bottom: -10px;
                left: 0px;
            }
        }
        .parga_box{
            p{
                margin: 0px;
                display: inline;
            }
            a{
                color: #fff;
                text-decoration: none;
                font-style:italic;
                font-weight: 500;
                &:hover{
                    color: $yellow;
                }
            }
        }
    }
}
// title underline
.tilte_Box_underline{
    h2, .h2{
        position: relative;
        color: #004377;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 22px;
        @include minwidth(768px){
            margin-bottom: 40px;
            margin-top: 40px;
            font-size: 30px;
        }
        span{
            color: $yellow;
        }
        &::after{
            position: absolute;
            content: '';
            width: 20%;
            border-bottom: 2px solid $blue;
            bottom: -12px;
            left: 0px;
        }
    }
}


// start Brands Section
.brand_section{
    padding-top: 30px;
    padding-bottom: 30px;
    @include minwidth(992px){
        .container{
            width: 1190px;
        }
        padding-top: 82px;
        padding-bottom: 68px;
    }
    .tilte_Box_underline{
        h2,.h2{
            color: #fdbe00;
            margin-bottom: 25px;
            span{
                color: #004377;
            }
        }
    }

    .brand_com_info{
        padding:8px 0px;
        @include minwidth(768px){
            padding: 15px 0px;
        }
        p{
            color: #101010;
            font-size: 14px;
            margin: 0px;
        }
        @include minwidth(768px){
            padding: 24px 0px;
        }
    }


    .inner_img_box{
        height: 100%;
        padding-top: 20px;
        @include minwidth(768px){
            padding-top: 40px;
            min-height: 532px;
        }
        @include minwidth(992px){
            padding-top: 0px;
        }
        .img_back{
            max-width: 100%;
            position: relative;
            img{
                width: 100%;
            }
            .back_img{
                object-fit: cover;
            }
            .img_font{
                background-color: rgba(2, 14, 40, 0.6);
                width: 180px;
                max-width: 100%;
                left: 10px;
                top: 10px;
                position: absolute;
                padding: 15px 15px 15px 0px;
                border-left: 2px solid #fff;
                border-top: 2px solid #fff;
                border-right: 2px solid #fff;
                border-bottom:2px solid #fff;
                img{
                    width: 100%;
                }
            }
            
            @include minwidth(768px){
                width: 420px;
                height: 100%;
                img{
                    height: 100%;
                }
                .img_font{
                    background-color: unset;
                    border-left: 0px;
                    border-top: 0px;
                    width: 446px;
                    max-width: 100%;
                    margin: 0px;
                    padding: 0px;
                    top: -20px;
                    bottom: unset;
                    right: 155px;
                    left: unset;
                    border-right: 4px solid #fff;
                    border-bottom:4px solid #fff;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            @include minwidth(992px){
                .img_font{
                    width: 446px;
                    max-width: 100%;
                    right: 70px;
                }
            }
            @include minwidth(1100px){
                .img_font{
                    width: 446px;
                    max-width: 100%;
                    right: 155px;
                }
            }
            
        }
    }
}

// Request section
.request_section{
    width: 100%;
    margin: auto;
    @include bgimgcontrol();
    .rgb_layer{
        padding: 30px 0px;
        @include minwidth(768px){
            padding: 60px 0px;
        }
        @include minwidth(992px){
            padding: 90px 0px;
        }
        width: 100%;
        height: 100%;
        background-color: rgba(2, 14, 40, 0.8);
    }

    .ht_iner_box{
        position: relative;
        flex-direction: column;
        .leftbox{
            img{
                width: 838px;
                max-width: 100%;
                height: 250px;
                object-fit: cover;
                @include minwidth(768px){
                    height: 300px;
                }
                @include minwidth(992px){
                    height: 360px;
                }
            }
        }
        .rightbox{
            order: -1;
            top: 13%;
            right: 0px;
            width: 764px;
            padding:15px;
            max-width: 100%;
            background-color: #131d31;
            color: #fff;
            @include minwidth(768px){
                padding: 30px;
            }
            @include minwidth(992px){
                position: absolute;
                padding: 50px 38px 31px 38px;
            }
            .tilte_Box_underline{
                h2,.h2{
                    margin: 0px;
                    padding: 0px;
                    color: $yellow;
                    span{
                        color: $blue;
                    }
                    &::after{
                        border: 0px;
                    }
                }
            }
            p{
                margin: 10px 0px 17px 0px;
            }

            .btn{
                font-weight:600;
                padding:8px 10px;
                font-size: 14px;
                width: auto;
                text-decoration: none;
                @include minwidth(768px){
                    font-size: 16px;
                    padding: 8px 15px;
                    font-weight: 700;
                }
            }
        }
    }
}

// Start Footer Section
.footer_sectoin{

    .logo{
        text-align: center;
        img{
            width: 154px;
            max-width: 100%;
        }
        padding-bottom: 50px;
    }

    .footer_content{
        padding: 44px 0px 18px 0px;
        background-color: #010d27;
    }

    .custom_row{
       @include minwidth(576px){
        margin-right: -14px;
        margin-left: -14px;
       }
        display: flex;
        flex-wrap: wrap;
        color: $white;
        p,a,span{
            font-size: 14px;
        }
        a{
          color: $white;
        }
        ul{
            padding: 0px;
            margin: 0px;
            li{
               list-style: none;
            }
        }
        
        .h5{
            font-weight: 500;
            margin-bottom: 10px;
            @include minwidth(576px){
                margin-bottom: 24px;
            }
        }
        .about{
            ul{
                li{
                    margin-right: 12px;
                    background-color: #000;
                    width: 30px;
                    height: 30px;
                    transition: background-color 0.3s ease;
                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        background-color: #ddb620;
                        a{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    // width calculation start
    .box{
        padding-bottom: 20px;
    }
    .about, .touch, .links, .estimate{
        width: 100%;
    }

    @include minwidth(576px){
        .box{
            padding-bottom: 10px;
        }
        .about, .touch, .links, .estimate{
            width: 50%;
        }
    }
    @include minwidth(992px){
        .about{
            width: 31%;
        }
        .touch{
            width: 23%;
        }
        .links{
            width: 23%;
        }
        .estimate{
            width: 20%;
        }
    }

    // width calculation end
    .box_inner{
        margin: unset;
        @include minwidth(576px){
            margin: 0px;
        }
    }

    .about{
        .about_inner{
            width: 260px;
            max-width: 100%;
        }
    } 
    .touch{
        .touch_inner{
            width: 240px;
            max-width: 100%;
            
            li{
                display: flex;
                .location_icon{
                    img{width: 20px;}
                }
                img{
                    width: 100%;
                    height: auto;
                    display: inline-block;
                }
                .icon{
                    width:16px;
                    margin-right: 10px;
                    display:block;
                }
                p{
                    margin: 0px;
                }
                a{
                    word-wrap: break-word;
                    word-break: break-all;
                }
                &:hover a{
                    color: $yellow;
                    text-decoration: none;
                }
             }
        }
    } 
    .links{
        .links_inner{
            width: 170px;
            max-width: 100%;
            li{
                &:hover a{
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
    }
    .estimate{
        .estimate_inner{
            width: 240px;
            max-width: 100%;
            p{
                margin-bottom: 10px;
            }
        }
        .gradin_btn{
            text-decoration: none;
            padding: 10px 30px;
            width: auto;
            min-width: auto;
        }
    }


// --- Start Copyright Section ---

    .copyright_content{
        padding: 10px 0px;
        background-color: #000718;
        text-align: center;
        color: $white;
        p{
            margin: 0px;
            padding: 0px;
            font-size: 12px;
        }
        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                color: $yellow;
            }
        }
    }
}